@media (max-width: 768px) {
  .btn {
    font-size:11px;
    padding:4px 6px;
  }
  .btn-group-lg > .btn {
    font-size: 8px;
  }
}

@media (min-width: 768px) {
  .btn {
    font-size:12px;
    padding:6px 12px;
  }
  .btn-group-lg > .btn {
    font-size: 11px;
  }
}

@media (min-width: 992px) {
  .btn {
    font-size:14px;
    padding:8px 12px;
  }
  .btn-group-lg > .btn {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .btn {
    padding:10px 16px;
    font-size:18px;
  }
  .btn-group-lg > .btn {
    font-size: 18px;
  }
}


body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1;
    border-radius: 50%;
  }
  .btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1;
    border-radius: 50%;
  }
  .btn-circle.btn-xl {
    width: 140px;
    height: 140px;
    padding: 20px 32px;
    font-size: 24px;
    line-height: 0.5;
    border-radius: 50%;
  }


  .form-control:focus{
    border-color: #5cb85c;  
    box-shadow: none; 
    -webkit-box-shadow: none;}

  .has-error .form-control:focus{
    box-shadow: none; 
    -webkit-box-shadow: none;}

  button.non-highlight {
    outline: none;
  }

  .btn.non-highlight.active.focus, 
  .btn.non-highlight.active:focus, 
  .btn.non-highlight.focus, 
  .btn.non-highlight:active.focus, 
  .btn.non-highlight:active:focus, 
  .btn.non-highlight:focus{
    outline: none;
  }

  .btn.menu{
    display: inline-block;
  }

  .equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
  }

  .glyphicon.glyphicon-play {
    font-size: 75px;
}