.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1;
    border-radius: 50%;
  }
  .btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1;
    border-radius: 50%;
  }
  .btn-circle.btn-xl {
    width: 140px;
    height: 140px;
    padding: 20px 32px;
    font-size: 24px;
    line-height: 0.5;
    border-radius: 50%;
  }


  .form-control:focus{
    border-color: #5cb85c;  
    box-shadow: none; 
    -webkit-box-shadow: none;}

  .has-error .form-control:focus{
    box-shadow: none; 
    -webkit-box-shadow: none;}

  button.non-highlight {
    outline: none;
  }

  .btn.non-highlight.active.focus, 
  .btn.non-highlight.active:focus, 
  .btn.non-highlight.focus, 
  .btn.non-highlight:active.focus, 
  .btn.non-highlight:active:focus, 
  .btn.non-highlight:focus{
    outline: none;
  }
  /**
  .no-border, 
  .no-border:active, 
  .no-border:active:focus, 
  .no-border:hover, 
  .no-border:focus {
    background-color: transparent;
    outline: none;
    border: 0;
    box-shadow: none;
    }
    */
