button{
    margin: auto;
    width: 5rem;
    height: 3rem;
}

div{
    text-align: center;
    border:1px solid black;
}

#window{
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

#UI{
    display: flex;
    flex-direction: column;
    left: 0;
    right: 0;
    height: 90vh; 
}

#game{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#musicScore{

    flex-grow: 8;
}
#answers{
    flex-grow: 4;

}
#keyboard{
    flex-grow: 1;
}
